                <footer class="right">
                    <div>

                        <span><a href="https://github.com/jennienguyendev" target="_blank"><i class="fa-brands fa-github"></i></a></span>
                    </div>
                </footer>

    <script src="/js/main.js"></script>

</body>
</html>