<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jennie Nguyen">
    <meta name="description" content="A simple 'Find the Color' game where your task is to find the exact RGB values of a randomized color.">
    <title>What Color Am I?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../css/style.css">

</head>
<body>
<div class="margin-center body-container center flex">
    <div class="highscores">
        <a href="/scores/highscores"><i class="fa-solid fa-trophy"></i></a>
    </div>
            <div class="body-main-container margin-center">
            
            <header class="center flex">
            <div class="img"><img src="img/logo.png" class="logo"></div>
            <p class="logo-font">what&nbsp;color am&nbsp;i?</p></header>