<%- include('partials/_header.ejs') %>

<div class="bg-opacity"></div>

<h4 class="left padding-bottom">Please sign up to start playing.</h4>
<%- include('partials/_signup-form.ejs') %>


<%- include('partials/_footer.ejs') %>