<%- include('partials/_header.ejs') %>

<div class="bg-opacity"></div>

<h4 class="left padding-bottom">You have successfully sign up. Please sign in.</h4>
<%- include('partials/_signin-form.ejs') %>


<%- include('partials/_footer.ejs') %>